.text-with-shadow {
    text-shadow: -9px -7px 15px rgb(255 255 255 / 50%);

    color: black; /* Hide the text */
    -webkit-text-stroke: 4px white; /* Set the border width and color */
    text-fill-color: black; 
}
.head{
    font-size: 3rem; /* Adjust as needed */
    line-height: 1;
}
  @media screen and (min-width: 1000px) {
    .head{
        font-size: 12rem; /* Adjust as needed */
        line-height: 1;
    }
  }